.Tarefa__item {
      background-color: #22e1f2;
      border-radius: 8px;
      height: 32px;
      list-style-position:inside;
      margin: .5rem 15px ;
      padding: .5rem;
      text-align: justify;
      width: 520px;
  }
.checkbox{
     float: right;
 }
@media(max-width:320px) {
    .Tarefa__item {
      width: 300px;
  }
}
